.container {
  width: 100%;
  display: flex;
}

app-sidebar {
  width: 20%;
}

app-hamburger {
  display: none;
}

.home-container {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
}

img {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  app-sidebar {
    display: none;
  }

  app-hamburger {
    display: block;
  }

  .home-container {
    width: 100%;
  }

}
