.container {
  width: 100%;
  display: flex;
}

app-sidebar {
  width: 20%;
}

.home-container {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
}

img {
  width: 50%;
  margin: auto;
}
