.container {
  width: 100%;
  display: flex;
}

app-sidebar {
  width: 20%;
}

app-hamburger {
  display: none;
}

.camera-container {
  width: 80%;
  height: fit-content;
  background: #f6f7f8;
  display: flex;
  align-items: flex-start;
  justify-items: center;
  padding: 2rem;
}

.camera-block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.camera-item {
  max-width: 25%;
  height: fit-content;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #666666, 7px -7px 14px #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 25px;
  transition-duration: 0.7s;
  transition-property: transform;
}

.camera-item:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.green {
  background: #3abc3a;
}

.red {
  background: red;
}

img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  app-sidebar {
    display: none;
  }

  app-hamburger {
    display: block;
  }

  .camera-container {
    width: 100%;
  }

  .camera-block {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .camera-item {
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .camera-item {
    max-width: 55%;
  }
}

@media screen and (max-width: 320px) {
  .camera-item {
    max-width: 60%;
  }
}
