/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Watford-Regular";
  src: url("src/assets/fonts/watford-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ruberoid";
  src: url("src/assets/fonts/Ruberoid-Ultralight.otf") format("opentype");
}
