.container {
  width: 100%;
  display: flex;
}

app-sidebar {
  width: 20%;
}

app-hamburger {
  display: none;
}

.reporting-container {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  font-family: fantasy;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  app-sidebar {
    display: none;
  }

  app-hamburger {
    display: block;
  }

  .reporting-container {
    width: 100%;
  }

}
